extends layout/_default

prepend ConfigBlock
  - page_name = ''

block ContentBlock
  h1.title= title
  div.option
    label
      | output size(px): 
      input.js-input-size(type="number" step="10" min="0")
    label
      | padding(px): 
      input.js-input-padding(type="number" step="10" min="0")
    label
      | background color: 
      input.js-input-color(type="color")
    label
      | ratio: 
      input.js-input-ratio(type="number" step="0.1" min="0")
  ul.notice
    li ブラウザにより多少画質や色味が変化する可能性があります
    li output sizeが大きすぎると正常に動作しなくなります
  div.select
    input.js-input-image(type="file" accept="image/*")
  canvas.canvas.js-canvas
  div.preview.js-preview
