extends layout/_default

prepend ConfigBlock
  - page_name = ''

block ContentBlock
  h1= title
  label
    input.js-input-image(type="file" accept="image/*")
  div.preview.js-preview
    canvas.canvas.js-canvas
