extends layout/_default

prepend ConfigBlock
  - page_name = ''

block ContentBlock
  h1.title= title
  div.select
    input.js-input-image(type="file" accept="image/*")
  canvas.canvas.js-canvas
  div.preview.js-preview
